<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.tapandcook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loadapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".userlogin" />
        <activity android:name=".usersignup" />
        <activity android:name=".homepage" />
        <activity android:name=".listActivity"/>
        <activity android:name=".bookmarklist"/>
        <activity android:name=".input"/>
        <activity android:name=".detailRecipeActivity"/>
        <activity android:name=".webRecipe"/>
        <activity android:name=".bookmarkdetail"/>
    </application>

</manifest>
